*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:  border-box;
}
.container{
    width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg,#a4a8a9, #128659);
   padding: 10px;
}
.todo-list{
   padding: 40px 30px 70px;
    max-width: 540px;
    height: 100%;
    width: 100%;
    margin: 100px auto 20px;
    background: white;
    border-radius: 10px;
}
.icon{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.todo-list h2{
    color: #002765;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    margin-bottom: 25px;
    border-radius: 30px;
    padding-left: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px; 
    background: #07d9e8cb;
    border-radius: 40px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28x;
    height: 28px;
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    width: 20px;
    height: 20px;
    top: 10px;
    left: 16px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}   
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/Checked.png);
    width: 20px;
    height: 20px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
height: 40px;
font-size: 25px;
color:#555;
border-radius: 50%;
line-height: 40px;
text-align: center;
border-radius: 50%;

}

ul li span:hover{
    background: #edeef0;

}

@media (min-width: 600px) and (max-width: 768px) {
    .todo-list {
        padding: 15px 10px 30px;
        margin: 45px auto 5px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        padding: 7px 25px;
        font-size: 9px;
    }

    ul li {
        font-size: 10px;
        padding: 5px 2px 5px 35px;
    }

    ul li span {
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
    }
}

@media (max-width: 600px)   {
    .todo-list {
        padding: 5px 5px 15px;
        margin: 25px auto 1px;
    }

    .row {
        padding-left: 5px;
    }

    button {
        padding: 5px 5px;
        font-size: 5px;
    }

    ul li {
        font-size: 8px;
        padding: 3px 1px 3px 25px;
    }

    ul li span {
        width: 20px;
        height: 20px;
        font-size: 15px;
        line-height: 20px;
    }
}

